body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #FFF url(../images/background.jpg) no-repeat 0px 0px/cover;
  font-family: Oswald;
}

a {
  color: #00B7FF;
}

#dropzone {
  width: 250px;
  height: 250px;
  border: 1px dashed darkgray;
}
